@model Category

<form method="post">
    <input asp-for="CategoryId" hidden />

    <div class="row">
        <div class="col-md-6">
            <h2 class="text-danger">Delete Category</h2>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CategoryName" class="control-label"></label>
        <input asp-for="CategoryName" class="form-control" disabled />
    </div>

    <div class="form-group">
        <label asp-for="DisplayOrder" class="control-label"></label>
        <input asp-for="DisplayOrder" class="form-control" disabled />
    </div>

    <div class="form-group pt-2">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Back</a>
    </div>
</form>